[submodule "submodules/s2"]
	path = submodules/s2
	url = https://gitee.com/lowkey2046/gb2312.git
[submodule "s4"]
	path = s4
	url = https://gitee.com/lowkey2046/idea-test
[submodule "submodules/s4"]
	path = submodules/s4
	url = https://gitee.com/lowkey2046/idea-test
